nav a{
    font-weight: 2vw;
    text-decoration:none;
    }
  nav li{
    display:inline;
padding:3vw;
font-size:1vw;
margin:1vw;
}
nav ul{
list-style-type: none;
text-align: center;
color:teal;
}
nav{
margin: 2vw;
padding:1vw;
}
nav a:hover{
    color:blue;
}